{% extends 'base/base.html' %}

{% block contenido %}
     <section class="masthead page-section portfolio inicio-radius">
        <div class="container">
            <h1 class="page-section-heading text-center text-uppercase animated bounceInUp text-warning mb-0">Ayuda Del Sitio</h1>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5 animated bounce">
                    <div class="portfolio-item mx-auto">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-120">
                            <div class="portfolio-item-caption-content text-center text-dark">
                                <strong><i>Diccionarios</i></strong>
                                <p>Los diccionarios en Python son un tipo de estructuras de datos
                                    que permite guardar un conjunto no ordenado de pares clave-valor, siendo las 
                                    claves únicas dentro de un mismo diccionario.
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../static/images/diccionario.jpg" alt="colecciones" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto animated bounce">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-120">
                            <div class="portfolio-item-caption-content text-center text-dark">
                                <strong> <i>Cadenas</i></strong>
                                <p>La cadena es una secuencia de caracteres; 
                                    así que si quieres acceder al contenido de la 
                                    cadena a partir de su posición en la secuencia,
                                    tienes que indicarle a Python un lugar en la secuencia.
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../static/images/cadena.jpg" alt="cadenas" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto animated bounce">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-dark">
                                <strong><i>Calculos</i></strong>
                                <p>Los siguientes son expresiones válidas en Python cuyo significado es más o ... 
                                cálculos simples como la suma, multiplicación, o concatenación de cadenas.
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../static/images/calculo.jpg" alt="operaciones" />
                    </div>
                </div>
            </div>
        </div>
     
    </section>
{% endblock %}
